body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1 1 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  padding-bottom: 70px;
}

.header,
.hero {
  background-color: #1f2937;
}

.heading {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.hero {
  display: flex;
  padding-bottom: 70px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-main {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  gap: 4px;
}

.hero-img {
  height: 250px;
  width: auto;
}

.hero-heading {
  font-size: 40px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-button {
  font-size: 18px;
  padding: 0px;
  width: 100px;
  background-color: #6e30fe;
  border: 0px;
  padding: 5px 8px;
  border-radius: 5px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

.info-head {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.info-pics {
  display: flex;
}
.info-pics img {
  height: 200px;
  width: auto;
  border: 5px solid #6e30fe;
  border-radius: 5px;
  flex-shrink: 1;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
  font-size: 18px;
  align-items: center;
}

a,
.hero-content,
.hero-button {
  text-decoration: none;
  color: #e5e7eb;
}
