body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  padding-bottom: 70px;
}

.header,
.hero {
  background-color: #1f2937;
}

.heading {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.hero {
  display: flex;
  padding-bottom: 70px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-main {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  gap: 4px;
}

.hero-img {
  height: 250px;
  width: auto;
}

.hero-heading {
  font-size: 40px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-button {
  font-size: 18px;
  padding: 0px;
  width: 100px;
  background-color: #3882f6;
  border: 0px;
  padding: 5px 8px;
  border-radius: 5px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
  font-size: 18px;
  align-items: center;
}

a,
.hero-content,
.hero-button {
  text-decoration: none;
  color: #e5e7eb;
}
