body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  padding-bottom: 70px;
}

.header,
.hero,
footer {
  background-color: #1f2937;
}
.heading {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.hero {
  display: flex;
  padding-bottom: 70px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.hero-main {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  gap: 4px;
}

.hero-img {
  height: 250px;
  width: auto;
  flex-shrink: 1;
}

.hero-heading {
  font-size: 40px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-button {
  font-size: 18px;
  padding: 0px;
  width: 100px;
  border: 0px;
  padding: 5px 8px;
  border-radius: 5px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

.info-head {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.info-pics {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.info-pics img {
  height: 200px;
  width: auto;
  border: 3px solid #6e30fe;
  border-radius: 10px;
}

.info-fig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  width: auto;
  gap: 8px;
}

.info-fig figcaption {
  width: 290px;
}

figure {
  padding: 0;
  margin: 0;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 40px 150px;
}

.quote-inside {
  display: flex;
}
.quote-main {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.name {
  font-weight: bold;
  align-self: flex-end;
}
.call-to-action {
  display: flex;
  justify-content: center;
}

.call {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 800px;
  padding: 50px 80px;
  margin: 100px;
  gap: 60px;
  color: white;
}

.action-text {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.call-heading {
  font-size: 24px;
  font-weight: bold;
}

.call-content {
  font-weight: 300;
  font-size: 18px;
}
.call button {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 16px;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
  font-size: 18px;
  align-items: center;
}

a,
.hero-content,
.hero-button {
  text-decoration: none;
  color: #e5e7eb;
}
figcaption {
  text-align: center;
  color: #464747;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 24px;
}

.hero-button,
.call,
.call button {
  background-color: #6e30fe;
}
